.projects-container {
    width: 100%;
    padding: 3em 1em;
    background-color: var(--navbar-color);
}

.projects-container > h3 { 
    padding: 0 12.5%;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
    padding: 0 12.5%;
}

.project-card {
    background-color: var(--main-bg-color);
    min-width: 30%;
    max-width: 40%;
    height: fit-content;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0.9rem;
    overflow: hidden;
}

.project-card > .project-info {
    padding: 1em;
}

.project-links {
    display: flex;
    justify-content: space-evenly;
}

.project-links > a {
    color: white;
    text-decoration: none;
    background-color: var(--navbar-color);
    padding: 0.5em 0.75em;
    margin-top: 0.75em;
    border-radius: 1em;
}

.project-links > a:hover {
    background-color: var(--navbar-highlight);
}

@media (max-width: 599px) {
    .projects-container {
        width: 100%;
    }

    .projects-container > h3 { 
        padding: 0 5%;
    }

    .projects-wrapper {
        width: 90%;
        padding: 0 5%;
        justify-content: center;
    }

    .project-card {
        width: 100%;
        margin: 1em 0;
        padding: 0.5em;
    }
}