/* projects.css */

.projects-vertical-container {
  color: var(--text-light);
  padding: 4rem 2rem;
}

.projects-container > h3 {
  width: 75%;
  align-self: center;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 1px solid var(--main-bg-color);
}

.projects-container {
  display: flex;
  flex-direction: column;
  background-color: var(--navbar-color);
  font-size: 2rem;
  margin: 0 0;
  padding: 0;
}

.project-section {
  padding: 2rem 10%;
  margin: 0;
}

.project-section.even {
  background-color: var(--navbar-color);
}

.project-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;

  border-bottom: 1px solid var(--main-bg-color);
  padding-bottom: 2rem;
}

.no-bottom-border {
  border-bottom: none;
}

.project-section.odd .project-row {
  flex-direction: row-reverse;
}

.project-media {
  flex: 1 1 500px;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: flex;
}

.project-media:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.7);
}

.project-details {
  flex: 1 1 400px;
  max-width: 600px;
}

.project-details h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.project-details p {
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project-tools {
  margin-bottom: 1rem;
}

.tool-tag {
  display: inline-block;
  background-color: var(--dark-teal);
  padding: 0.3rem 0.6rem;
  margin: 0.2rem;
  border-radius: 15px;
  font-size: 0.9rem;
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-links i {
  color: var(--text-muted);
  font-size: 2rem;
}

.project-links i:hover {
  color: var(--dark-teal);
  transform: scale(1.2);
}
