#root {
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-color);
  padding: 2em 0;
  font-size: 0.8rem;
}

svg {
  fill: white;
  height: 50px;
  width: 50px;
}

svg:hover {
  fill: var(--navbar-highlight);
  cursor: pointer;
  transform: scale(1.1);
}
