:root {
  --navbar-color: #1c1e1f;
  --dark-teal: #00564d;
  --main-bg-color: #2a2a2a;
  --light-teal: #00bca9;

  --bg-dark: #0e0f11;
  --primary-teal: #00bfa6;
  --accent-teal: #1de9b6;
  --accent-dark: #263238;
  --text-light: #f0f4f8;
  --text-muted: #c0c0c0;

  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
